/* 统一样式 */
p {
    margin: 0;
    padding: 0;
    display: inline-block;
}
a {
    text-decoration: none;
}
input,
select {
    border: none;
    outline: none;
}
/* 左浮动 */
.left {
    float: left;
}
/* 右浮动 */
.right {
    float: right;
}
/* 引入文字样式 */
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font/iconfont.woff2') format('woff2'),
        url('../font/iconfont.woff') format('woff'),
        url('../font/iconfont.ttf') format('truetype'),
        url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* #top 顶部内容样式 */
.top div {
    line-height: 30px;
}
.top div p a {
    color: #2da5e1;
    margin-left: 10px;
}
/* #header 头部内容样式 */
.header .logo {
    width: 102px;
    height: 74px;
    padding: 9px 0;
    display: inline-block;
}
.header .logo img {
    width: 102px;
    height: 74px;
}
.header a:nth-child(2) {
    position: absolute;
    top: 40%;
    color: #2da5e1;
    font-size: 22px;
}
.header .search {
    width: 326px;
    height: 28px;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: orange;
}
/* #nav 导航栏内容样式 */
.nav .link {
    display: inline-block;
    padding-left: 30px;
    line-height: 36px;
    color: #fff;
}
.nav a:hover {
    color: #d7f3ff;
}
.nav .menu {
    width: 130px;
    padding-right: 30px;
    position: relative;
    background-color: #1fa4f0;
    text-align: center;
}
.nav .menu .menu-list {
    width: 100%;
    height: 432px;
    position: absolute;
    top: 36px;
    left: 0px;
    background-color: #1fa4f0;
}
/* #banner 引导内容样式 */
/* 幻灯片 */
.banner .banner-slider {
}



/* 联动搜索 */
.banner .banner-search {
    background-color: #fafafa;
}
.banner .banner-help .caption,
.banner .banner-search .caption {
    height: 22px;
    padding: 15px 0;
    text-align: center;
}
.banner .banner-search .caption .text {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    color: #fec009;
}
.banner .banner-search .form {
    height: 150px;
    /* background-color: red; */
}
.banner .banner-search .form .line {
    width: 250px;
    /* background-color: saddlebrown; */
    margin-top: 8px;
    text-align: center;
}
.banner .banner-search .form .line select {
    width: 250px;
    height: 30px;
    background-color: #f4f6fa;
}
.banner .banner-search .submit {
    margin-top: 10px;
    width: 250px;
    height: 30px;
    /* background-color: rosybrown; */
}
.banner .banner-search .submit .button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-left: 78px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    background-color: #fec009;
    cursor: pointer;
    border-radius: 5px;
}
/* 帮助中心 */
.banner .banner-help .caption {
    color: #60bff2;
}
.banner .banner-help .list .link {
    width: 86px;
    height: 26px;
    padding:0 0 8px 26px;
    display: inline-block;
    color: #00b3ea;
    line-height: 26px;
    font-size: 14px3;
}
/* #content 内容模块 */
/* 切换标签的内容 */
.content .content-tab {
    background: 0;
}
.content .content-tab .caption {
    height: 34px;
    line-height: 34px;
    background-color: #f5f6fa;
}
.content .content-tab .caption .item {
    display: block;
    width: 112px;
    height: 34px;
    text-align: center;
    float: left;
    color: #00b3ea;
}
.content .content-tab .caption .item-focus {
    background-color: #60bff2;
    color: #fff;
}
.content .content-tab .block {
    border: 1px solid #f4f6fa;
    height: 452px;
}
.content .content-tab .block-caption {
    height: 26px;
    padding: 8px;
    line-height: 26px;
    border-bottom: 1px solid #f4f6fa;
}
.content .content-tab .block-caption-item {
    display: block;
    padding: 0px 10px;
    font-size: 12px;
    color: #4c4948;
    float: left;
}
.content .content-tab .block-caption-item-focus {
    background-color: #60bff2;
    color: #fff;
}
.content .content-tab .block-content {
    padding: 16px 12px;
}
.content .content-tab .block-content .block-more {
    display: block;
    line-height: 55px;
    text-align: center;
    color: #5084c4;
    font-size: 14px;
}
/* 医院列表-容器 */
.content .content-tab .block-content .block-list {}

.content .content-tab .block-content .block-list .block-list-item {
    float: left;
    width: 216px;
    height: 102px;
    padding: 0px 20px 10px 120px;
    position: relative;
    font-size: 12px;
}
.content .content-tab .block-content .block-list .block-list-item img {
    width: 110px;
    height: 98px;
    position: absolute;
    top: 0;
    left: 0;
}
.content .content-tab .block-content .block-list .block-list-item .item-name {
    color: #036eb7;
    font-size: 14px;
    line-height: 21px;
    padding-top: 13px;
}
.content .content-tab .block-content .block-list .block-list-item .item-level {
    float: right;
}
.content .content-tab .block-content .block-list .block-list-item .item-phone,
.content .content-tab .block-content .block-list .block-list-item .item-address {
    line-height: 18px;
    padding-bottom: 4px;
    color: #666666;
}
/* 医院文案-容器 */
.content .content-tab .block-content .block-text-list {}

.content .content-tab .block-content .block-text-list .item {
    display: block;
    width: 351px;
    height: 27px;
    font-size: 14px;
    color: #666666;
    padding-top: 8px;
    float: left;
    border-bottom: 1px dashed #dcdddd;
}
.content .content-tab .block-content .block-text-list .item:nth-child(2n) {
    padding-left: 13px;
}
.content .content-tab .block-content .block-text-list .item-level {
    float: right;
}





/* 新闻 */
.content .content-news .newTop {
    height: 38px;
    background-color: #f4f6fa;
    line-height: 38px;
    /* border: 1px solid #ccc; */
    font-size: 15px;
    position: relative;
}
.content .content-news .newTop span {
    position: absolute;
    left: 21px;
    color: #fec009;
}
.content .content-news .newTop a {
    position: absolute;
    right: 21px;
    color: #000;
}
.content .content-news .newTop a:hover {
    color: #2da5e1;
}
.content .content-news .newBottom {
    margin-top: 13px;
}
.content .content-news .newBottom ol li {
    margin-top: 15px;
}
.content .content-news .newBottom ol li a {
    color: rgba(80, 75, 75, 0.8);
}
/* 公告 */
.content .content-close .closeTop {
    height: 38px;
    background-color: #f4f6fa;
    line-height: 38px;
    /* border: 1px solid #ccc; */
    font-size: 15px;
    position: relative;
}
.content .content-close .closeTop span {
    position: absolute;
    left: 21px;
    color: #fec009;
}
.content .content-close .closeTop a {
    position: absolute;
    right: 21px;
    color: #000;
}
.content .content-close .closeTop a:hover {
    color: #2da5e1;
}
.content .content-close .closeBottom {
    margin-top: 13px;
}
.content .content-close .closeBottom ol li {
    margin-top: 15px;
}
.content .content-close .closeBottom ol li a {
    color: rgba(80, 75, 75, 0.8);
}